{{ partial "header.html" . }}

<div class="wrap">
    {{ partial "navbar.html" . }}
    <main class="paladin-container row">
        <div class="archiver col-md-8 col-xs-12">
            {{ range .Data.Pages }}
            <div class="post-item">
                <a href="{{ .RelPermalink }}" class="post-item-link">
                    <span class="post-title col-sm-8 col-xs-12">{{ .Title }}</span>
                    <span class="post-date col-sm-3 col-xs-12">{{ .Date.Format (.Site.Params.dateFormatToUse | default "Jan 2 2006") }}</span>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="all-categories widget">
                <h3 class="aside-title">{{ i18n "categories" }}</h3>
                <div class="all-tags-box">
                    {{ range $name, $taxonomy := .Site.Taxonomies.categories}}
                    <a class="category-link" href="{{ "/categories/" | relLangURL }}{{ $name | urlize}}">{{ $name }}</a>
                    <br /> {{ end }}
                </div>
            </div>
            <div class="all-tags widget">
                <h3 class="aside-title">{{ i18n "tags" }}</h3>
                <div class="all-tags-box">
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                    <a class="tag-link" href="{{ "/tags/" | relLangURL}}{{ $name | urlize }}">{{ $name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </main>
</div>

{{ partial "footer.html" . }}