{{ partial "header.html" . }}

<div class="wrap">
    {{ partial "navbar.html" .  }}
    <main class="paladin-container">
        {{ if eq .Params.Type "about"}}
            {{ partial "about.html" . }}
        {{ else }}
            {{ partial "post.html" . }}
        {{ end }}
        
        {{ if eq .Params.vertical true }}
            {{ partial "footer.html" . }}
        {{ end }}
    </main>

    {{ if .Site.Params.Valine.enable }}
    <div class="paladin-comment">
      {{ partial "comment.html" . }}
    </div>
    {{ end }}
</div>

{{ if ne .Params.vertical true }}
    {{ partial "footer.html" . }}
{{ end }}
{{ partial "after_footer.html" . }}
