{{ $page := $.Paginator  }}

{{ if .Site.Params.paginateOriginalStyle }}
<div class="pagination">
    {{ with $page.Prev }}
    <a class="prev col-md-11 col-xs-6" href="{{ .URL }}">
        <i class="iconfont icon-jiantou_yemian_xiangzuo"></i>
        <span class="prev-text">{{ i18n "prev" }}</span>
    </a>
    {{ end }}

    {{ with $page.Next }}
    <a class="next col-md-2 col-xs-6" href="{{ .URL }}">
        <span class="next-text">{{ i18n "next" }}</span>
        <i class="iconfont icon-jiantou_yemian_xiangyou"></i>
    </a>
    {{ end }}
</div>
{{ else }}
    <!-- Number of links either side of the current page -->

    {{ $adjacent_links := 3 }}
    
    {{ $max_links := (add (mul $adjacent_links 2) 1)}}
    {{ $lower_limit := (add $adjacent_links 1)}}
    {{ $upper_limit := (sub $page.TotalPages $adjacent_links)}}

    {{ if and (gt $page.TotalPages 1) (le $page.TotalPages $max_links)}}
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            {{ range $page.Pagers }}
            <li class="page-item{{ if eq . $page }} active {{ end }}">
                <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ else if gt $page.TotalPages $max_links }}
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            <li class="page-item {{if eq 1 $page.PageNumber}}disabled{{end}}">
                <a href="{{ $page.First.URL }}" class="page-link iconfont icon-jiantou_xiangzuoliangci"></a>
            </li>

            {{ if $page.HasPrev }}
            <li class="page-item">
                <a href="{{ $page.Prev.URL }}" class="page-link iconfont icon-jiantou_shangyiye"></a>
            </li>
            {{ end }}

            {{ range $page.Pagers }}
                {{ $.Scratch.Set "page_number_flag" false}}
                {{ if gt $page.TotalPages $max_links }}
                    {{ if le $page.PageNumber $lower_limit}}
                        {{ if le .PageNumber $max_links }}
                            {{ $.Scratch.Set "page_number_flag" true }}
                        {{ end }}
                    {{ else if ge $page.PageNumber $upper_limit}}
                        {{ if gt .PageNumber (sub $page.TotalPages $max_links) }}
                            {{ $.Scratch.Set "page_number_flag" true }}
                        {{ end }}
                    {{ else }}
                        {{ if and (ge .PageNumber (sub $page.PageNumber $adjacent_links)) (le .PageNumber (add $page.PageNumber $adjacent_links))}}
                            {{ $.Scratch.Set "page_number_flag" true }}
                        {{ end }}
                    {{ end }}
                {{ else }}
                    {{ $.Scratch.Set "page_number_flag" true}}
                {{ end }}

                {{ if eq ($.Scratch.Get "page_number_flag") true}}
                <li class="page-item{{ if eq . $page }} active{{ end }}" >
                    <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
                </li>
                {{ end }}
            {{ end }}
            {{ if $page.HasNext }}
            <li class="page-item">
                <a href="{{ $page.Next.URL }}" class="page-link iconfont icon-jiantou_xiayiye"></a>
            </li>
            {{ end }}

            <li class="page-item{{ if eq $page.PageNumber $page.TotalPages }} disabled{{end}}">
                <a href="{{ $page.Last.URL }}" class="page-link iconfont icon-jiantou_xiangyouliangci"></a>
            </li>
        </ul>
    </div>
    {{ end }}
{{ end }}